:root {
  --primary-color: #563c55;
  --secondary-color: #a372a2;
  --tertiary-color: #634662;
  --font-color: #bf1e2e;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}

header {
  /* Linear Gradient */
  background: var(--secondary-color);
  background: -moz-linear-gradient(
    90deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 10%,
    var(--primary-color) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 10%,
    var(--primary-color) 100%
  );
  background: linear-gradient(
    90deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 10%,
    var(--primary-color) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a372a2",endColorstr="#563c55",GradientType=1);

  text-align: left;
}

#title-container {
  height: 25%;
  background: url("./img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  margin-top: 25%;
}

#tabs > ul {
  padding: 0;
}

.tab-button {
  list-style: none;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;

  font-size: 2rem;
  text-shadow: 0 0 2px gold;
  font-weight: bold;
}

.tab-button:hover {
  box-shadow: 0 0 3px gold;
  cursor: pointer;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2%;

  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  text-shadow: 0 0 2px gold;
  font-weight: bold;
}


